<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Shop Online</title>
</head>
<body>
    <div class="navbar">
        <a class="heading" href="/main">Velocity</a>
        <div>
            <a class="account" href="">admin@Velocity</a>
        </div>
    </div>