<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shop Online at Velocity</title>
</head>
<body>
    <div class="navbar">
        <a class="heading" href="/smain">Velocity</a>
        <div>
            <a class="account" href="">Account</a>
            <a class="account" href="">Cart</a>
        </div>
    </div>
    <div class="menu">
        <div class="links">

            <a href="/mobiles">Phone</a>
            <a href="/mobiles">Electronics</a>
            <a href="/mobiles">Men Clothings</a>
            <a href="/mobiles">Women Clothings</a>
            <a href="/mobiles">Footwear</a>
            <a href="/mobiles">Furniture</a>        
        </div>
        
        <div class="searchbox">
            <form action="/header"> 
                <input type="text" placeholder="Search Velocity">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="maincontainer">

