<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login to Velocity</title>
</head>
<body>
    <div class="navbar">
        <h1>Velocity</h1>
    </div>
    <div class="loginText">
        <p>Login to Velocity</p>
    </div>
    <div class="logOptions">
        <div class="user logCard">
            <img src="images/user.png" alt="">
            <a href="/userlogin">User</a>
        </div>
        <div class="seller logCard">
            <img src="images/seller.png" alt="">
            <a href="/sellerlogin">Seller</a>
        </div>
    </div>
    <div class="createAccount">
        <p class="loginText ">Sign up as</p>
        <a href="/createuser">User</a>
        <a href="/createseller">Seller</a>
    </div>
    <%- include('footer') %> 